* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 10px;
  font-family: "Jersey 10", sans-serif;
  color: rgb(255, 251, 240);
  font-size: 20px;
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                3px 3px 3px #000,
                -1px 1px 0 #000,
                1px 1px 0 #000,
                -2px 0px 0 #000,
                2px 0px 0 #000,
                0px -2px 0 #000,
                0px 2px 0 #000;
}

.warning{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-size: 70px;
  z-index: 999;
  opacity: 0;
}

#game {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 600px;
  background: url("bg.png");
  background-size: cover;
  overflow: hidden;
}

#bird {
  clip-path: circle();
  position: absolute;
  width: 45px;
  height: 45px;
  left: 60px;
  top: 300px;
  background-image: url('bird.png');
  background-size: cover;
  background-position: center;
}

.pipe {
  position: absolute;
  width: 80px;
  background-size: cover;
  background-position: center;
}

.pipe.top {
  top: 0;
  background-image: url('pillar1.png');
}

.pipe.bottom {
  bottom: 0;
  background-image: url('pillar2.png');
}

#score {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size:50px;
  color: white;
  z-index: 100;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

@media (min-width: 300px) and (orientation: portrait) {
     .warning{
        opacity: 1;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
   .warning{
        opacity: 1;
    }

    #game {
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  
  #bird {
    width: 8vw;
    height: 8vw;
    min-width: 30px;
    min-height: 30px;
    left: 15vw;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .pipe {
    width: 15vw;
    min-width: 60px;
  }
  
  #score {
    font-size: 10vw;
    top: 5vh;
  }
}

.title{
    top: 1%;
    left: 1%;
    position: absolute;
}

.author{
    top: 1%;
    right: 1%;
    position: absolute;
}

.date{
    bottom: 1%;
    right: 1%;
    position: absolute;
}

@media (max-width: 768px) and (orientation: landscape) {
  body {
    padding: 0;
  }
  
  .warning {
    opacity: 0;
  }
  
  #game {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    transform: none;
    border-radius: 0;
    margin: 0;
  }
  
  #bird {
    width: 45px;
    height: 45px;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .pipe {
    width: 80px;
  }
  
  .pipe.top {
    transform: none;
  }
  
  .pipe.bottom {
    transform: none;
  }
  
  #score {
    font-size: 50px;
    top: 20px;
    transform: translateX(-50%);
  }
}

@media (min-width: 769px) {
  #game {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
  }
}

@media (max-height: 700px) and (orientation: portrait) {
    .warning{
        opacity: 1;
    }
  #game {
    height: 100vh;
    max-height: 100vh;
  }
  
  #bird {
    width: 45px;
    height: 45px;
  }
  
  .pipe {
    width: 80px;
  }
  
  #score {
    font-size: 40px;
  }
}

@media (max-height: 400px) and (orientation: landscape) {
  #game {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
  }
  
  #bird {
    width: 35px;
    height: 35px;
  }
  
  .pipe {
    width: 60px;
  }
  
  #score {
    font-size: 30px;
    top: 10px;
  }
}

